/* Responsive Mobile Styling */
@media only screen and (max-width: 1200px) {
	.mainTitle {
		font-size: 65px;
	}
	.mainSubtitle {
		font-size: 35px;
		padding: 25px 125px;
	}
	.entryTitle {
		font-size: 40px;
		width: 75vw;
		margin: 30px auto 0 auto;
		text-align: left;
	}
	.entrySubtitle {
		font-size: 30px;
		width: 75vw;
		margin: 0 auto -10px auto;
		text-align: left;
	}
	.entryText {
		width: 85vw;
		margin: 25px auto;
		font-size: 22px;
		text-align: left;
	}
	.quoteText {
		text-align: center;
		width: 50vw;
		font-size: 20px;
	}
	.captionText {
		width: 90vw;
		margin: auto;
		text-align: center;
		font-size: 22px;
	}
	hr {
		width: 65vw;
		height: 10px;
	}	
}

@media only screen and (max-width: 800px) {
	.mainTitle {
		font-size: 50px;
	}
	.mainSubtitle {
		font-size: 28px;
		padding: 25px 25px;
	}
	.sortDiv {
		font-size: 28px;
		width: 60vw;
	}
	.entryTitle {
		font-size: 30px;
		width: 75vw;
		margin: 30px auto 0 auto;
	}
	.entrySubtitle {
		font-size: 26px;
		width: 75vw;
		margin: 0 auto -10px auto;
	}
	.entryText {
		width: 80vw;
		margin: 25px auto;
		font-size: 22px;
		text-align: left;
	}
	.quoteText {
		width: 75vw;
		font-size: 18px;
		text-align: center;
	}
	.captionText {
		font-size: 22px;
	}
	hr {
		width: 90vw;
	}
	#zeppelinImg {
		width: 100%;
	}
	#fatigueImg {
		width: 100%;
	}
	#fccImg {
		width: 100%;
	}
	#usaMap {
		width: 100%;
	}

	#skylineImg {
		width: 100%;
	}
	#libraryImg {
		width: 100%;
	}
	#chineseSubImg {
		width: 100%;
	}
	#phoImg {
		width: 100%;
	}
	#bullhead {
		width: 100%;
	}
	#kitten {
		width: 100%;
	}
	#alameda {
		width: 100%;
	}
	#kimchi {
		width: 100%;
	}
	#sfMap {
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.mainTitle {
		font-size: 45px;
	}
	.mainSubtitle {
		font-size: 22px;
		padding: 25px auto;
	}
	.sortDiv {
		font-size: 26px;
		width: 80vw;
	}
	.entryTitle {
		font-size: 36px;
		width: 90vw;
		margin: 30px auto 0 auto;
	}
	.entrySubtitle {
		font-size: 18px;
		width: 90vw;
		margin: 0 auto -10px auto;
	}
	.entryText {
		width: 90vw;
		margin: 25px auto;
		font-size: 22px;
		text-align: left;
	}
	.quoteText {
		width: 100%;
		font-size: 20px;
		text-align: center;
	}
	.captionText {
		margin-top: 7px;
		font-size: 18px;
	}
	hr {
		width: 100%;
		border-radius: 0;
	}
}

@media only screen and (max-width: 450px) {
	.mainTitle {
		width: 100%;
		margin: auto;
		font-size: 55px;
	}
	.em {
		font-size: 22px;
	}
	.mainSubtitle {
		font-size: 26px;
		padding: 25px auto;
	}
	.sortDiv {
		font-size: 22px;
		width: 80vw;
	}
	.entryTitle {
		font-size: 42px;
		margin: 22px auto 0 auto;
	}
	.entrySubtitle {
		font-size: 28px;
		margin: 0 auto -10px auto;
	}
	.entryText {
		width: 90vw;
		margin: 25px auto;
		font-size: 24px;
	}
	.quoteText {
		font-size: 18px;
	}
	.captionText {
		font-size: 16px;
	}
	#kitten {
		width: 100%;
	}
}